%ul#builds
  - @projects.each do |project|
    - build = project.builds.last
    %li{:class => build_class(build) + ' build'}
      = link_to '', project_builds_path(project), :class => 'main'
      %ul.detail
        %li
          %strong= project.name
          %em= "(#{project.clone_from})"
        %li
          = last_build_status(build)
      %ul.action
        %li.edit= link_to 'edit', edit_project_path(project)

